.aboutPage {
    margin-top: 200px;
}

.aboutDivider {
    background-color: #436395;
    width: 80%;
    height: 3.5px;
    margin-left: 5%;
}

.aboutHeader {
    color: #009bdf;
    font-size: 35px;
}

.aboutDescription {
    width: 90%;
    color: #929292;
    font-family: 'Barlow Semi Condensed',sans-serif;
    font-weight: 600;
    font-size: 19px;
    line-height: 1.5;
    margin-bottom: 100px;
}

@media (min-width: 0px) and (max-width: 1200px) {
    .aboutPage {
        margin-top: 100px;
    }
    .aboutDivider {
        margin: auto;
    }
   .aboutHeader {
    margin-left: 4%;
    font-size: 22px;
   }

   .aboutDescription {
    margin: auto;
    margin-bottom: 100px;
    font-size: 17px;
   }
}