.skillsPage{
    width: 100%;
    background-image: linear-gradient(270deg, #0F1010 0%, #0D254D 100%);
    padding-top: 75px;
    padding-bottom: 75px;
    justify-content: right;
    display: flex;
}
.skillsBox {
    width: 30%;
}

.projectBox {
    width: 50%;
}

.skillsHeader {
    font-size: 50px;
    color: #d8d5d5;
}

.projectHeader {
    font-size: 50px;
    color: #d8d5d5;
}

.skill {
    font-weight: bold;
    margin-bottom: 30px;
    color: #d8d5d5;
}

.progressBarFull {
    background-color: #009BDF;
    width: 80%;
    text-align: right;
    font-weight: bold;
    color: white;
    font-size: 70%;
    margin-top: 5px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-radius: 30px;
}

.progressBar90 {
    background-color: #009BDF;
    width: 70%;
    text-align: right;
    font-weight: bold;
    color: white;
    font-size: 70%;
    margin-top: 5px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-radius: 30px;
}

.projectDescription {
    width: 55%;
    font-weight: bolder;
    font-family: Arial;
    letter-spacing: 0.5px;
    line-height: 1.3;
    margin-top: -25px;
    color: #d8d5d5;
}

.projectCarousel {
    margin-top: 50px;
    margin-left: -3%;
    min-width: 350px;
    max-width: 60%;
    text-align: center;
}

.projectHolder {
    margin: auto;
    height: 80%;
    width: 80%;
    background-color: rgb(27, 31, 31,0.7);
    text-align: center;
    border: 4px solid rgba(36, 3, 3, 0.5);
    border-radius: 30px;
    padding-left: 5%;
    padding-right: 5%;
}

.carouselButton {
    color: white;
    font-weight: bold;
    border: 2px solid #009BDF;
    background-color: #009BDF;
    margin: 7px;
    width: 150px;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
}

.carousel-img {
    text-align: center;
    border: 4px solid rgb(0,0,0,0.5);
    width: 95%;
    border-radius: 30px;
}

.projectTitle {
    color: white;
    font-size: 30px;
    margin: 20px;
    padding: 10px;
    font-weight: bold;
    font-family: sans-serif;
    text-shadow: 0 0 6px #4c576b;
}

.carouselButton:hover {
    color: white;
    font-weight: bold;
    border: 2px solid #8cc3db;
    background-color: #8cc3db;
    margin: 7px;
    width: 150px;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    transition: all 0.2s linear;
}

@media (min-width: 0px) and (max-width: 950px) {
    
    .skillsPage {
        display:block;
        margin-left: 0px;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 25px;
    }

    .skillsHeader {
        font-size: 30px;
        text-align: center;
    }

    .skillsBox {
        width: 100%;
    }

    .skill {
        margin-left: 5%;
    }

    .projectHeader {
        font-size: 30px;
        text-align: center;
    }

    .projectDescription {
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width: 100%;
    }

    .projectBox {
        width: 100%;
    }

    .projectHolder {
        width: 90%;
    }

    .projectCarousel {
        margin-right: auto;
        margin-left: auto;
    }
}